[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=slp-server

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=slp-server
X-SuSE-YaST-Keywords=network,installation,repositories,products,serviceLocationProtocol

Icon=yast-slp-server
Exec=xdg-su -c "/sbin/yast2 slp-server"

Name=YaST SLP Server
GenericName=SLP Server
Comment=Configure an SLP Server
StartupNotify=true
